:root {
  --secondary: rgb(68, 167, 224);
  --primary: rgb(214, 156, 29);
}

body {
  background: var(--secondary);
  text-align: center;
}

button, p, input {
  font-size: 1.5rem;
}

button {
  height: 10%;
  position: absolute;
  bottom: 30px;
  left: 10vw;
  width: 80vw;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}


.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}